<app-container classes="container-1">
    <mat-card class="table-container">
        <mat-form-field class="max-width" appearance="outline" style="font-size: 1.33em; font-style: italic">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="filter($event)" placeholder="Ex. Aspirin" #input>
        </mat-form-field>
        <span *ngIf="isLoading else table" class="centering">
            <mat-progress-spinner color="accent" mode="indeterminate"></mat-progress-spinner>
        </span>
        <ng-template #table>
            <div class="mat-elevation-z8">
                <mat-table [dataSource]="dataSource" matSort multiTemplateDataRows class="max-width">

                    <ng-container matColumnDef="{{column.columnData}}" *ngFor="let column of columnData">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{column.columnHeader}}</mat-header-cell>
                        <mat-cell *matCellDef="let request" [ngStyle]="{'width': 'calc(100% /' + (columnData.length) + ')'}">
                            <ng-container *ngIf="column.columnData === 'authoredOn' else substitutionsOrDefault">
                                {{(request | asMedicationRequest)?.authoredOn?.toDate().toString()}}
                            </ng-container>
                            <ng-template #substitutionsOrDefault>
                                <ng-container *ngIf="column.columnData === 'substitution.allowed' else subReasonOrDefault">
                                    {{(request | asMedicationRequest)?.substitution.allowed ? 'Yes' : 'No'}}
                                </ng-container>
                                <ng-template #subReasonOrDefault>
                                    <ng-container *ngIf="column.columnData === 'substitution.reason' else defaultCase">
                                        {{(request | asMedicationRequest)?.substitution?.reason}}
                                    </ng-container>
                                    <ng-template #defaultCase>
                                        {{(request | asMedicationRequest)[column.columnData]}}
                                    </ng-template>
                                </ng-template>
                            </ng-template>
                        </mat-cell>
                    </ng-container>

                    <!-- Details expanding content-->
                    <ng-container matColumnDef="expandedDetail">
                        <td *matCellDef="let request" [attr.colspan]="columnData.length" class="max-width">
                            <div class="request-detail" [@detailExpand]="request == expandedRequest ? 'expanded' : 'collapsed'">
                                <mat-list class="mat-elevation-z9 request-list-holder" *ngIf="(request | asMedicationRequest)?.identifier?.length > 0">
                                    <div mat-subheader>
                                        <div>Identifiers</div>
                                        <span style="flex: 1 1"></span>
                                        <div style="font-style: italic">*(Users)</div>
                                    </div>
                                    <mat-list-item *ngFor="let user of (request | asMedicationRequest)?.identifier">
                                        <mat-icon mat-list-icon>keyboard_arrow_right</mat-icon>
                                        <div mat-line>Name: {{user.displayName.value}}</div>
                                        <div mat-line>E-mail: {{user.email.value}}</div>
                                    </mat-list-item>
                                </mat-list>
                                <mat-list class="mat-elevation-z9 request-list-holder" *ngIf="(request | asMedicationRequest)?.category?.length > 0">
                                    <div mat-subheader>Categories</div>
                                    <mat-list-item *ngFor="let category of (request | asMedicationRequest)?.category">
                                        <mat-icon mat-list-icon>keyboard_arrow_right</mat-icon>
                                        <div mat-line>{{category.text}}</div>
                                    </mat-list-item>
                                </mat-list>
                                <mat-list class="mat-elevation-z9 request-list-holder" *ngIf="(request | asMedicationRequest)?.note?.length > 0">
                                    <div mat-subheader>Notes</div>
                                    <mat-list-item *ngFor="let note of (request | asMedicationRequest)?.note">
                                        <mat-icon mat-list-icon>keyboard_arrow_right</mat-icon>
                                        <div mat-line *ngIf="note.author">Author: {{note?.author.authorString}}</div>
                                        <div mat-line *ngIf="note.time">Time: {{note?.time?.toDate().toString()}}</div>
                                        <div mat-line>Text: {{note.text}}</div>
                                    </mat-list-item>
                                </mat-list>
                                <mat-list class="mat-elevation-z9 request-list-holder" *ngIf="(request | asMedicationRequest)?.dosageInstruction?.length > 0">
                                    <div mat-subheader>Dosage instructions</div>
                                    <mat-list-item *ngFor="let dosage of (request | asMedicationRequest)?.dosageInstruction">
                                        <mat-icon mat-list-icon>keyboard_arrow_right</mat-icon>
                                        <div mat-line>{{dosage.text}}</div>
                                    </mat-list-item>
                                </mat-list>
                                <span style="flex-basis: 100%; height: 0"></span>
                                <button mat-raised-button color="accent" class="action-btn" (click)="openEditRequestDialog(request, $event)" matTooltip="Edit" [matTooltipPosition]="'below'">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-raised-button color="warn" class="action-btn" (click)="openDeleteRequestDialog(request.id, $event)" matTooltip="Delete" [matTooltipPosition]="'below'">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="columnDataStr"></mat-header-row>
                    <mat-row *matRowDef="let request; columns: columnDataStr"
                             class="request-row" [class.request-expanded-row]="expandedRequest === request"
                             (click)="expandedRequest = expandedRequest === request ? null : request">
                    </mat-row>
                    <tr class="mat-row" *matNoDataRow>
                        <mat-chip-list>
                            <mat-chip color="warn" selected style="margin: 1.33rem 0 0 1.33rem">No data matching the filter: "{{input.value}}"</mat-chip>
                        </mat-chip-list>
                    </tr>
                    <mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></mat-row>
                </mat-table>
            </div>
        </ng-template>
        <mat-paginator [pageSizeOptions]="[1, 5, 10, 25, 50]" pageSize="5"></mat-paginator>
    </mat-card>

    <button mat-fab class="add-btn" (click)="openAddRequestDialog()">
        <mat-icon>add</mat-icon>
    </button>
</app-container>
