@import '~@angular/material/_theming.scss';

$purple-palette: mat-palette($mat-purple);
$orange-palette: mat-palette($mat-deep-orange);

mat-card {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.table-container {
  max-width: 100%;
  overflow: auto;
}

td, th {
  padding-left: 4px;
  text-align: center;
}

tr.detail-row {
  height: 0;
}

.request-detail {
  flex-wrap: wrap;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  align-content: space-around;
  justify-content: space-around !important;
  background: mat-color($purple-palette, A700);
}

.request-list-holder {
  cursor: move;
  flex: 1 1 20%;
  margin: 1rem 0.7rem;
  background: mat-color($orange-palette, A200);
}

.action-btn {
  flex: 1 1 10%;
  margin: 1rem 0.7rem;
}

.mat-line {
  font-size: 0.88em !important;
}

.request-expanded-row {
  cursor: pointer;
  background: mat-color($purple-palette, 700);
}

tr.request-row:not(.request-expanded-row):hover {
  cursor: pointer;
  background: mat-color($purple-palette, 700);
}

tr.request-row:not(.request-expanded-row):active {
  background: mat-color($purple-palette, 700);
}

.request-row mat-cell {
  border-bottom-width: 0;
}

.add-btn {
  width: 4em;
  height: 4em;
  position: fixed;
  bottom: 1.33rem;
  right: 1.33rem;
}
